<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/animate.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/meanmenu.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/boxicons.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/flaticon.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/odometer.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/magnific-popup.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/nice-select.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/datetimepicker.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/month.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/imagelightbox.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">

<link rel="stylesheet" href="{{ url_for('static',filename='css/responsive.css')}}">
<title>MedicaTun</title>
<link rel="icon" type="image/png" href="{{ url_for('static',filename='img/logo3.png')}}">